<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reddit Login Page</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<br />
<body>
<th:block th:replace="base :: nav"></th:block>
<h1>Welcome to Reddit!!</h1>
<!--  <form action ="#"   th:object={principalObject} method='post'> -->

You are logged in as: <div th:text= "${principalObject.name}"></div>


<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>