<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Postings Page</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<body>
<th:block th:replace="base :: nav"></th:block>

<form action="#" th:action="@{/addposting}" th:object="${homeObject}" method="post" class="navbar-form navbar-left">

<div class="form-group">
	<input type="text" th:field="*{url}" placeholder="URL"></input>
	<span th:if="${#fields.hasErrors('url')}" th:errors="*{url}">URL Error</span>
	</div>
	
<div class="form-group">
	<input type="hidden" th:field="*{name}" placeholder="Name"></input>
	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
	</div>
	
<div class="form-group">
	<input type="text" th:field="*{date}" placeholder="Date"></input>
	<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</span>
	</div>
	
	
	<button type="submit" class="btn btn-blue">Enter</button>
</form>

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>